body {
}

#banner
{
    /*background-image: url("Images/PrisMegah_Logo.JPG");*/
    /*background-image: url('Images/PrisMegah_Logo.JPG');*/
    background-repeat: no-repeat;
    background-size:cover;
    height: 130px;
    border: 2px solid #E3E3E3;
    
}

#footer
{
    clear: both;
    width: auto;
    height: 45px;
    padding: 10px;
    border: 1.5px solid #E3E3E3;
    text-align: center;
    color: lightgray;
    text-shadow: 0.1em 0.1em #333;
}

#title
{
    font-family: 'Baskerville Old Face';
}

#wrapper
{
    width: 1080px;
    background-color:#87BBEF;
    margin: 0 auto;
    padding: 10px;
    border: 3px solid #dedede;
}

.noti_Container {
    position:relative;     /* This is crucial for the absolutely positioned element */
    border:1px none blue; /* This is just to show you where the container ends */
    width:40px;
    height:30px;
    float:right;
}
.noti_bubble {
    position:absolute;    /* This breaks the div from the normal HTML document. */
    top: -6px;
    right:5px;
    padding:1px 2px 1px 2px;
    background-color:red; /* you could use a background image if you'd like as well */
    color:white;
    font-weight:bold;
    font-size:1.05em;

    /* The following is CSS3, but isn't crucial for this technique to work. */
    /* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
    /* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
}

.noti_Container:hover {
    /*border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;*/ 
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
